[submodule "sample_php_mysql"]
	path = sample_php_mysql
	url = https://github.com/buildsample/sample_php_mysql.git

























[submodule "hiro"]
	path = hiro
	url = https://github.com/vidyar/hiro.git

