[submodule "sample_php_mysql"]
	path = sample_php_mysql
	url = https://github.com/buildsample/sample_php_mysql.git






























































[submodule "apix-cache"]
	path = apix-cache
	url = git@github.com:vidyar/apix-cache.git
